.home-jumbo {
  background-image: url("../images/nyt-coffee.jpg");
  background-size: cover;
  height: 500px;
}

.saved-jumbo {
  background-image: url("../images/morningCoffee.jpg");
  background-size: cover;
  height: 300px;
}

.jumbotron h1 {
  font-size: 75px;
}

.navbar-brand {
  background-color: pink;
}
